.chat_list_room_wrapper {
  display: flex;
  align-items: center;
  padding: 16px;
  border-bottom: 1px solid #f6f6f6;
}

.chat_list_room_wrapper:hover {
  background-color: #f6f6f6;
  cursor: pointer;
}

.user_profile_image_box {
  display: flex;
  align-items: center;
  margin-right: 12px;
}

.user_profile_image {
  width: 40px;
  height: 40px;
  border-radius: 50px;
}

.user_infomation {
  display: flex;
  margin-bottom: 2px;
}

.user_name {
  margin-right: 8px;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
}

.user_id_date {
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  color: rgb(83, 100, 113);
}

.user_chat_text {
  font-size: 15px;
}
