.feed_contents_image_box {
  display: flex;
  flex-direction: column;
}

.profile_image_box_wrapper {
  margin-right: 10px;
}

.feed_contents_box {
  width: 100%;
}

.feed_contents_title {
  display: flex;
  margin-bottom: 5px;
}

.feed_contents_user_name {
  margin-right: 8px;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
}

.feed_contents_user_infomation {
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  color: rgb(83, 100, 113);
}

.feed_contents_text {
  margin-bottom: 12px;
  font-size: 15px;
}

.feed_contents_image {
  border-radius: 16px;
  margin-bottom: 12px;
}

.feed_contents_footer {
  display: flex;
  align-items: center;
}

.heart_icon_box {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.heart_icon {
  margin-right: 4px;
}

.shared_icon_box {
  display: flex;
  align-items: center;
  cursor: pointer;
}
