.left_menu_nav_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 275px;
  height: 100dvh;
  padding: 16px;
}

.menu_header {
  display: flex;
  justify-content: center;
  width: 60px;
  padding: 14px;
  margin-bottom: 10px;
  cursor: pointer;
}

.menu_header:hover {
  border-radius: 100px;
  background-color: #d5d5d5;
}

.menu_list {
  width: fit-content;
  padding: 12px;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: -1px;
  list-style-type: none;
  color: #353535;
  cursor: pointer;
}

.menu_list:hover {
  font-weight: 500;
  border-radius: 30px;
  color: #212121;
  background-color: #f6f6f6;
}

.post_button {
  width: 100%;
  padding: 12px 0px;
  margin-top: 18px;
  border: unset;
  border-radius: 24px;
  font-size: 18px;
  font-weight: 400;
  color: white;
  background-color: rgb(29, 155, 240);
  cursor: pointer;
}

.post_button:hover {
  font-weight: 500;
  background-color: rgba(29, 155, 240, 0.9);
}

.user_profile_wrapper {
  display: flex;
  align-items: center;
}

.user_profile_image_box {
  margin-right: 12px;
}

.user_nickname {
  margin-bottom: 2px;
  font-size: 15px;
  font-weight: 700;
  line-height: 20px;
  color: #212121;
}

.user_account {
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  color: #8c8c8c;
}
