.search_ranking_box_wrapper {
  border-radius: 12px;
  background-color: #f6f6f6;
}

.search_ranking_box_title {
  padding: 14px;
  font-size: 20px;
  font-weight: 800;
  line-height: 24px;
}

.search_ranking_box_contents {
  padding: 14px;
}

.search_ranking_box_contents:hover {
  background-color: #eaeaea;
}

.trending_tag {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: rgb(83, 100, 113);
  cursor: pointer;
}

.trending_words {
  margin: 2px 0px;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  cursor: pointer;
}
