.search_ranking_box_wrapper {
  border-radius: 12px;
  background-color: #f6f6f6;
}

.search_ranking_box_title {
  padding: 14px;
  font-size: 20px;
  font-weight: 800;
  line-height: 24px;
}

.trending_tag {
  padding: 14px;
}
