.feed_page_header {
  position: sticky;
  top: 0px;
  display: flex;
  justify-content: center;
}

.header_tab {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  padding: 16px 0px;
  border-bottom: 1px solid #f6f6f6;
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  color: rgb(83, 100, 113);
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(12px);
  cursor: pointer;
}

.header_tab:hover {
  background-color: #f6f6f6;
}

/* header_tab 상속 */
.actived {
  font-weight: 600;
}

.indicator {
  position: absolute;
  bottom: 0;
  width: inherit;
  height: 4px;
  border-radius: 12px;
  background-color: rgb(29, 155, 240);
}
